@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am a fast learner, always listen to the people who are more knowleadgable than me, take constructive criticism. I nitpick every problem when solving it, thinking out of the box, thinking from all sides possible.
    I will be honest (thats another good characteristic about me, I think) new developers do make mistakes. Be it pushing the changes you made to production without fully testing what you did or etc.
    Its unevitable. That is why I want to learn from proffessionals, make as few mistakes as possible when starting and be a great addition to the team.</p>
